@page
@model mcmreporting.Pages.Cases.EditModel

@{
  ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Case</h4>
<hr />
<div class="row">
  <div class="col-md-4">
    <form method="post">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <input type="hidden" asp-for="CaseEdit.Id" />
      <div class="form-group">
        <label asp-for="CaseEdit.MCMNumber" class="control-label"></label>
        <input asp-for="CaseEdit.MCMNumber" class="form-control" />
        <span asp-validation-for="CaseEdit.MCMNumber" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="CaseEdit.IntakeDate" class="control-label"></label>
        <input asp-for="CaseEdit.IntakeDate" class="form-control" />
        <span asp-validation-for="CaseEdit.IntakeDate" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="CaseEdit.City" class="control-label"></label>
        <input asp-for="CaseEdit.City" class="form-control" />
        <span asp-validation-for="CaseEdit.City" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="CaseEdit.County" class="control-label"></label><br />
        <select asp-for="CaseEdit.CountyId">
          @foreach (var item in Model.Counties)
          {
            <option value="@item.Id" label="@item.Name" />
          }
        </select>
        <span asp-validation-for="CaseEdit.CountyId" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="CaseEdit.State" class="control-label"></label><br />
        <select asp-for="CaseEdit.State">
          @foreach (var item in Model.States)
          {
            <option value="@item.Name" label="@item.Name" />
          }
        </select>
        <span asp-validation-for="CaseEdit.State" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="CaseEdit.School" class="control-label"></label><br />
        <select asp-for="CaseEdit.SchoolId">
          @foreach (var item in Model.Schools)
          {
            <option value="@item.Id" label="@item.Name" />
          }
        </select>
        <span asp-validation-for="CaseEdit.SchoolId" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="CaseEdit.ReferralType" class="control-label"></label><br />
        <select asp-for="CaseEdit.ReferralType">
          @foreach (var item in Model.ReferralType)
          {
            <option value="@item" label="@item" />
          }
        </select>
        <span asp-validation-for="CaseEdit.ReferralType" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="CaseEdit.Age" class="control-label"></label>
        <input asp-for="CaseEdit.Age" class="form-control" />
        <span asp-validation-for="CaseEdit.Age" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="CaseEdit.Gender" class="control-label"></label><br />
        <select asp-for="CaseEdit.Gender">
          @foreach (var item in Model.GenderTypes)
          {
            <option value="@item" label="@item" />
          }
        </select>
        <span asp-validation-for="CaseEdit.Gender" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label class="control-label">Race/Ethnicity</label>
        <ul>
          @for (int i = 0; i < Model.RaceEthnicityList.Count; i++)
          {
            <li>
              <input type="checkbox" asp-for="RaceEthnicityList[i].IsChecked" />
              <label asp-for="RaceEthnicityList[i].Id" class="control-label">@Model.RaceEthnicityList[i].Name</label>
              <input asp-for="RaceEthnicityList[i].Id" type="hidden" />
              <input asp-for="RaceEthnicityList[i].Name" type="hidden" />
            </li>
          }
        </ul>
      </div>
      <div class="form-group">
        <label class="control-label">Vulnerabilities</label>
        <ul>
          @for (int i = 0; i < Model.VulnerabilityList.Count; i++)
          {
            <li>
              <input type="checkbox" asp-for="VulnerabilityList[i].IsChecked" />
              <label asp-for="VulnerabilityList[i].Id" class="control-label">@Model.VulnerabilityList[i].Name</label>
              <input asp-for="VulnerabilityList[i].Id" type="hidden" />
              <input asp-for="VulnerabilityList[i].Name" type="hidden" />
            </li>
          }
        </ul>
      </div>
      <div class="form-group">
        <label class="control-label">Law Enforcement Denial</label>
        <ul>
          @for (int i = 0; i < Model.CaseLawEnforcementItemList.Count; i++)
          {
          <li>
            <select asp-for="CaseLawEnforcementItemList[i].AgencyId">
              @foreach (var item in Model.LawEnforcementAgencies)
              {
                <option value="@item.Id" label="@item.Agency" />
              }
            </select><br />
            <input type="checkbox" asp-for="CaseLawEnforcementItemList[i].Denial" />
            <input asp-for="CaseLawEnforcementItemList[i].AgencyId" type="hidden" />
            <input asp-for="CaseLawEnforcementItemList[i].Denial" type="hidden" />
            <label class="control-label">Denial</label>
          </li>
          }
        </ul>
      </div>
      <div class="form-group">
        <label asp-for="CaseEdit.LastSeen" class="control-label"></label>
        <input asp-for="CaseEdit.LastSeen" class="form-control" />
        <span asp-validation-for="CaseEdit.LastSeen" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="CaseEdit.ReportedMissing" class="control-label"></label>
        <input asp-for="CaseEdit.ReportedMissing" class="form-control" />
        <span asp-validation-for="CaseEdit.ReportedMissing" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="CaseEdit.PeopleServed" class="control-label"></label>
        <input asp-for="CaseEdit.PeopleServed" class="form-control" />
        <span asp-validation-for="CaseEdit.PeopleServed" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="CaseEdit.StartCaseType" class="control-label"></label><br />
        <select asp-for="CaseEdit.StartCaseType">
          @foreach (var item in Model.CaseTypes)
          {
            <option value="@item" label="@item" />
          }
        </select>
        <span asp-validation-for="CaseEdit.StartCaseType" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="CaseEdit.EndCaseType" class="control-label"></label><br />
        <select asp-for="CaseEdit.EndCaseType">
          @foreach (var item in Model.CaseTypes)
          {
            <option value="@item" label="@item" />
          }
        </select>
        <span asp-validation-for="CaseEdit.EndCaseType" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="CaseEdit.Disposition" class="control-label"></label><br />
        <select asp-for="CaseEdit.Disposition">
          @foreach (var item in Model.DispositionTypes)
          {
            <option value="@item" label="@item" />
          }
        </select>
        <span asp-validation-for="CaseEdit.Disposition" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="CaseEdit.CloseDate" class="control-label"></label>
        <input asp-for="CaseEdit.CloseDate" class="form-control" />
        <span asp-validation-for="CaseEdit.CloseDate" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="CaseEdit.CaseStatus" class="control-label"></label><br />
        <select asp-for="CaseEdit.CaseStatus">
          @foreach (var item in Model.CaseStatuses)
          {
            <option value="@item" label="@item" />
          }
        </select>
        <span asp-validation-for="CaseEdit.CaseStatus" class="text-danger"></span>
      </div>
      <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
      </div>
    </form>
  </div>
</div>

<div>
  <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
